/* Global variables */

/* Main structure */
@default-bg: white;
@default-text: black;

/* Colors for data */
@euro-sum-color-light: #deebf7;
@euro-sum-color-medium: #9ecae1; 
@euro-sum-color-strong: #3182bd;

@relations-color-light: #e5f5e0;
@relations-color-medium: #a1d99b; 
@relations-color-strong: #31a354;

/* Absolute Center Spinner */
@highlight-text: white;
@loading-background: #303030;

/* Chord */
@gov-color: #e6550d;
@media-color: #1c9099;

/* Tags */
@tag-combine-background: #556B2F;
@tag-remove-background: #8B0000;
@combine-glyph-unicode: "\e144";
@remove-glyph-unicode: "\e014";

/* Table */
@relations-bar-background: @relations-color-medium;
@sparkline-bar-background: @euro-sum-color-medium;
@sparkline-null-background: #bfbfbf;
@filtered-table-row-background: @euro-sum-color-light;
@combined-table-row-color: @tag-combine-background;

/* Tooltips */
@tooltip-background: #303030;
@tooltip-font-color: #F0F0F0;
@tooltip-border-color: #000000;
@tooltip-box-shadow-color: #666;

