#tooltip {
  border: 1px solid #000000;
  background: #303030;
  color: #F0F0F0;
  border-radius: 1em;
  padding: 1em;
  pointer-events: none;
  z-index: 1000;
  position: relative;
  width: 100%;
  border-radius: 6px;
  opacity: 0;
  bottom: 10%;
  box-shadow: 5px 5px 2.5px #666;
}

path.chord {
  -webkit-backface-visibility: hidden;
  fill-opacity: .67;
  stroke: none;
}

text, .group path {
  cursor: pointer;
}

input[type="radio"] {
  margin: 0px;
}

.years {
  height: 600px;
  overflow: scroll;
}

aside {
  margin: 0px;
}