#tooltip {
  border: 1px solid #000000;
  background: #303030;
  color: #F0F0F0;
  border-radius: 1em;
  padding: 1em;
  pointer-events: none;
  z-index: 1000;
  position: relative;
  width: 100%;
  border-radius: 6px;
  opacity: 0;
  bottom: 40%;
  box-shadow: 5px 5px 2.5px #666;
}
path.chord {
  -webkit-backface-visibility: hidden;
  fill-opacity: .67;
  stroke: none;
}
text,
.group path {
  cursor: pointer;
}
input[type="radio"] {
  margin: 0px;
}
.years {
  height: 600px;
  overflow: scroll;
}
aside {
  margin: 0px;
}
.chordLabelNonGov {
  fill: #AB2626;
  font-style: italic;
}
.chordLabelGov {
  fill: #26ABAB;
  font-weight: bold;
}
#combine-blocks {
  position: relative;
  right: auto;
  display: inline-block;
  font-weight: 300;
  color: #fff;
  text-align: center;
  line-height: inherit;
}
#combine-blocks .tag {
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 1px #666;
  min-width: 3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
}
#combine-blocks button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 5px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#combine-blocks .combine {
  background: #556B2F;
}
#combine-blocks .remove {
  background: #8B0000;
}

/* Absolute Center Spinner */
#dataLoading {
  position: fixed;
  z-index: 999;
  margin: auto;
  color: white;
  height: 15em;
  padding-top: 5em;
  width: 60%;
  overflow: show;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #303030;
  box-shadow: 5px 5px 2.5px #666;
  border-radius: 1em;
}
.loading {
  height: 2em;
  width: 2em;
  overflow: show;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background: white;
  color: black;
  margin: 25px;
  padding-top: 50px;
}
h1 {
  font-size: 2em;
  margin: 0.5em 0 1em;
}
h1 > small {
  color: gray;
  font-size: 70%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content {
  text-align: left;
}
.tip {
  border: 1px solid #000000;
  background: #303030;
  color: #F0F0F0;
  border-radius: 1em;
  padding: 1em;
  z-index: 99;
}
#legalSearchReset {
  font-size: 0.8em;
}
#mediaSearchReset {
  font-size: 0.8em;
}

.custom-search-form {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
.custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-query:focus + button {
  z-index: 3;
}
.search-query:focus {
  width: 230px;
}

.my-data-table button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table > thead > tr > th {
  min-width: 120px;
}
.inlinebar {
  height: 5px;
  background: lightblue;
}
.dc-table-row-filtered {
  background: #d9edf7;
}


/*# sourceMappingURL=app.css.map*/