h1 Media Transperancy
  br
  small An Overview of Public Money spent on Media-Cooperations and -Funding in Austria
#my-charts
.row#my-bar-charts
    h2 Filter
    #time-bar-chart.col-sm-6
      strong Years 
      a(href="javascript:timeBarChart.filterAll();updateAll();",style="display: none;").reset reset
      .clearfix
    #laws-bar-chart.col-sm-3
      strong Legal Background 
      a(href="javascript:lawsBarChart.filterAll();updateAll();",style="display: none;").reset reset
      .clearfix
    #expenses-bar-chart.col-sm-3
      strong Expenses
      a(href="javascript:expensesBarChart.filterAll();updateAll();",style="display: none;").reset reset
      .clearfix      
  .row#my-tables
    .col-sm-3
      .row
        .span12
          form.custom-search-form.search-form.form-horizontal.pull-right#legalSearchForm
            .input-append.span12
              input(type="text",placeholder="Filter Rechtsträger")#legalSearch.search-query.mac-style
              button.btn
                span.glyphicon.glyphicon-search
      span#data-count-legal
      .table-responsive
        table.table.table-hover.my-data-table#legal-table
          thead
            th(data-col="a").data-table-col Rechtsträger 
              button#legalAlphabetOrder.btn
                span.glyphicon.glyphicon-sort-by-alphabet
            th(data-col="b").data-table-col Relationen 
              button#legalRelationOrder.btn
                span.glyphicon.glyphicon-sort-by-order-alt
            th(data-col="c").data-table-col Summe 
              button#legalSumOrder.btn
                span.glyphicon.glyphicon-sort-by-order                  
    .col-sm-6
      strong Chord Chart 
      a(href="javascript:legalDim3.filterAll();updateAll();").reset reset
      .clearfix
      #chord-chart
    .col-sm-3
      .row
        .span12
          form.custom-search-form.search-form.form-horizontal.pull-right#mediaSearchForm
            .input-append.span12
              input(type="text",placeholder="Filter Media")#mediaSearch.search-query.mac-style
              button.btn
                span.glyphicon.glyphicon-search
      span#data-count-media
      .table-responsive
        table.table.table-hover.my-data-table#media-table
          thead
            th(data-col="a").data-table-col Media 
              button#mediaAlphabetOrder.btn
                span.glyphicon.glyphicon-sort-by-alphabet
            th(data-col="b").data-table-col Relationen 
              button#mediaRelationOrder.btn
                span.glyphicon.glyphicon-sort-by-order-alt
            th(data-col="c").data-table-col Summe 
              button#mediaSumOrder.btn
                span.glyphicon.glyphicon-sort-by-order        
//  .row#my-treeMaps
//    h2 Tree Maps
//    .col-sm-6
//      strong Rechtsträger
//      a(href="javascript:legalTreeMap.filterAll();updateAll();",style="display: none;").reset reset
//      .clearfix
//      #legal-tree-map  
//    .col-sm-6
//      strong Media
//      a(href="javascript:mediaTreeMap.filterAll();updateAll();",style="display: none;").reset reset
//      .clearfix
//      #media-tree-map        