//h1 Media Transparency
//  br
//  small An Overview of Public Money spent on Media-Cooperations and -Funding in Austria
#my-charts
.row#my-bar-charts
  include filters.jade
.row#my-tables
  include table.jade