.clearfix
a(href="javascript:filterAll();updateAll();").reset reset all filters
.clearfix
#chord-chart
fieldset.tooltip#chord-tooltip.row.secondary
  .large-12.columns
    span von
    h4#ttLegal
    span nach
  .large-12.columns
    h4#ttMedia
  .large-12.columns
    span#ttFrom
    span  / 
    span#ttTo
.clearfix
.tooltip#tag-tooltip(style="display: none;")
#combine-blocks