.clearfix
#chord-chart
fieldset#tooltip.row.secondary
  .large-12.columns
    span von
    h4#ttLegal
    span nach
  .large-12.columns
    h4#ttMedia
  .large-12.columns
    span#ttFrom
    span /
    span#ttTo
.clearfix
#combine-blocks