.clearfix
a(href="javascript:filterAll();updateAll();",title="Setzt alle Filter zurück").reset reset all filters
.clearfix
#chord-chart
fieldset#chord-tooltip.myTooltip.row.secondary
  .large-12.columns
    span von
    h4#ttLegal
  .large-12.columns
    span nach
    h4#ttMedia
  .large-12.columns
    span#ttFrom
    span /
    span#ttTo
.clearfix
#tag-tooltip.myTooltip(style="display: none;")
#combine-blocks