#time-bar-chart.col-sm-4
  strong Years 
  span.chart-unit 
  a(href="javascript:timeBarChart.filterAll();updateAll();",style="display: none;").reset reset
  .clearfix
#laws-bar-chart.col-sm-3
  strong Legal Background 
  span.chart-unit 
  a(href="javascript:lawsBarChart.filterAll();updateAll();",style="display: none;").reset reset
  .clearfix
#expenses-bar-chart.col-sm-5
  strong Expenses 
  span.chart-unit 
  a(href="javascript:expensesBarChart.filterAll();updateAll();",style="display: none;").reset reset
  .clearfix
#filter-tooltip.myTooltip