.footer
  .col-sm-4
    :markdown
      This dashboard is free and open source software available at [GitHub](https://github.com/VALIDproject/mtdb2/).

      Please contact us if you have questions or if you need any further information.
      If there is a software bug, an error in the content or if you have other suggestions,
      please use our [issue tracker on Github](https://github.com/VALIDproject/mtdb2/issues).

  .col-sm-4
     &nbsp;

  .col-sm-4
    :markdown
      Conceptual design and initial development by [David Pfahler](https://www.pfahler.at/), TU&nbsp;Wien.<br />
      Supervision and continuous development by [Alexander Rind](http://alex.timebench.org/), VALiD&nbsp;project.

      VALiD is funded by the [Austrian Ministry for Transport, Innovation and Technology (BMVIT)](https://www.bmvit.gv.at/)
      under the [ICT of the future program](https://www.ffg.at/en/ictofthefuture).<br />
      [Impressum/Imprint](http://www.validproject.at/imprint/)
