.col-sm-3
  .row
    .span12
      form.custom-search-form.search-form.form-horizontal.pull-right#legalSearchForm
        .input-append.span12
          input(type="text",placeholder="Filter Rechtsträger",title="Durchsuche die Tabelle nach einem Wort")#legalSearch.search-query.mac-style
          button.btn
            span.glyphicon.glyphicon-search
  span#data-count-legal
  div#legalSearchReset
    a(href="javascript:resetSearchBox('legal');",title="Setzt den Filter aus der Textbox und aus der Tabelle zurück") reset
    | |
    a(href="javascript:combineData(legalDim);",title="Fügt alle momentan ausgewählten Einträge in der Tabelle zu einem Eintrag zusammen") combine
    | |
    a(href="javascript:deleteData(legalDim);",title="Löscht alle momentan ausgewählten Einträge aus der Tabelle") remove
    strong  selection
  table.table.table-hover.my-data-table#legal-table
    thead
      th(data-col="a").data-table-col Rechtsträger 
        button(title="Nach dem Alphabet sortieren")#legalAlphabetOrder.btn
          span.glyphicon.glyphicon-sort-by-alphabet
      th(data-col="c").data-table-col Summe 
        button(title="Nach der Summe an transferiertem Geld sortieren")#legalSumOrder.btn
          span.glyphicon.glyphicon-sort-by-order
      th(data-col="b",title="Relationen").data-table-col #
        button(title="Nach der Anzahl der Relationen sortieren")#legalRelationOrder.btn
          span.glyphicon.glyphicon-sort-by-order-alt    
  .paging#legal-paging
    | Showing 
    span#begin
    | - 
    span#end
    button(onclick="javscript:legalTablePaging.last();").btn#last last
    button(onclick="javscript:legalTablePaging.next();").btn#next next
.col-sm-6
  include chordChart.jade   
.col-sm-3#media-table-column
  .row
    .span12
      form.custom-search-form.search-form.form-horizontal.pull-right#mediaSearchForm
        .input-append.span12
          input(type="text",placeholder="Filter Media",title="Durchsuche die Tabelle nach einem Wort")#mediaSearch.search-query.mac-style
          button.btn
            span.glyphicon.glyphicon-search
  span#data-count-media
  div#mediaSearchReset
    a(href="javascript:resetSearchBox('media');",title="Setzt den Filter aus der Textbox und aus der Tabelle zurück") reset
    | |
    a(href="javascript:combineData(mediaDim);",title="Fügt alle momentan ausgewählten Einträge in der Tabelle zu einem Eintrag zusammen") combine
    | |
    a(href="javascript:deleteData(mediaDim);",title="Löscht alle momentan ausgewählten Einträge aus der Tabelle") remove
    strong  selection
  table.table.table-hover.my-data-table#media-table
    thead
      th(data-col="a").data-table-col Media 
        button(title="Nach dem Alphabet sortieren")#mediaAlphabetOrder.btn
          span.glyphicon.glyphicon-sort-by-alphabet
      th(data-col="c").data-table-col Summe 
        button(title="Nach der Summe an transferiertem Geld sortieren")#mediaSumOrder.btn
          span.glyphicon.glyphicon-sort-by-order      
      th(data-col="b",title="Relationen").data-table-col #
        button(title="Nach der Anzahl der Relationen sortieren")#mediaRelationOrder.btn
          span.glyphicon.glyphicon-sort-by-order-alt
  .paging#media-paging
      | Showing 
      span#begin
      | - 
      span#end
      button(onclick="javscript:mediaTablePaging.last();").btn#last last
      button(onclick="javscript:mediaTablePaging.next();").btn#next next
  #sparkline-tooltip.myTooltip(style="opacity:0")