.col-sm-3
  .row
    .span12
      form.custom-search-form.search-form.form-horizontal.pull-right#legalSearchForm
        .input-append.span12
          input(type="text",placeholder="Filter Rechtsträger")#legalSearch.search-query.mac-style
          button.btn
            span.glyphicon.glyphicon-search
  span#data-count-legal
  div#legalSearchReset
    a(href="javascript:resetSearchBox($('#legalSearch'),'legal');") reset
    | |
    a(href="javascript:combineData(legalDim);") combine
    | |
    a(href="javascript:deleteData(legalDim);") remove
    strong  selection
  .table-responsive
    table.table.table-hover.my-data-table#legal-table
      thead
        th(data-col="a").data-table-col Rechtsträger 
          button#legalAlphabetOrder.btn
            span.glyphicon.glyphicon-sort-by-alphabet
        th(data-col="b").data-table-col Relationen 
          button#legalRelationOrder.btn
            span.glyphicon.glyphicon-sort-by-order-alt
        th(data-col="c").data-table-col Summe 
          button#legalSumOrder.btn
            span.glyphicon.glyphicon-sort-by-order                  
.col-sm-6
  include chordChart.jade   
.col-sm-3
  .row
    .span12
      form.custom-search-form.search-form.form-horizontal.pull-right#mediaSearchForm
        .input-append.span12
          input(type="text",placeholder="Filter Media")#mediaSearch.search-query.mac-style
          button.btn
            span.glyphicon.glyphicon-search
  span#data-count-media
  div#mediaSearchReset
    a(href="javascript:resetSearchBox($('#mediaSearch'),'media');") reset
    | |
    a(href="javascript:combineData(mediaDim);") combine
    | |
    a(href="javascript:deleteData(mediaDim);") remove
    strong  selection
  .table-responsive
    table.table.table-hover.my-data-table#media-table
      thead
        th(data-col="a").data-table-col Media 
          button#mediaAlphabetOrder.btn
            span.glyphicon.glyphicon-sort-by-alphabet
        th(data-col="b").data-table-col Relationen 
          button#mediaRelationOrder.btn
            span.glyphicon.glyphicon-sort-by-order-alt
        th(data-col="c").data-table-col Summe 
          button#mediaSumOrder.btn
            span.glyphicon.glyphicon-sort-by-order