//    h2 Tree Maps
//    .col-sm-6
//      strong Rechtsträger
//      a(href="javascript:legalTreeMap.filterAll();updateAll();",style="display: none;").reset reset
//      .clearfix
//      #legal-tree-map  
//    .col-sm-6
//      strong Media
//      a(href="javascript:mediaTreeMap.filterAll();updateAll();",style="display: none;").reset reset
//      .clearfix
//      #media-tree-map    